#docs-titlebar-container {
    max-height:40px !important;
}
#docs-titlebar {
    height:32px !important;
}
.setup_button {
    display:inline-block;
    width: 100px;
    height: 30px;
    font-size: 15px;
    border: 2px #1F2126 solid;
    border-radius: 3px;
    background-color: #1F2126;
    cursor: pointer;
}

.setup_button .content {
    width: 70px;
    background-color: white;
}
.setup_button .arrow {
    width: 25px;
    font-family: serif;
    color: white;
    font-weight: bold;
}

.setup_button .content, .setup_button .arrow {
    height:30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}